Options -Indexes
RewriteEngine On

# Route all API requests through api/index.php
RewriteRule ^api/(.*)$ api/index.php [QSA,L]

# Route all other requests through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
